{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="description"
    content="Content writing is a continuous process of learning, carefully gathering, sifting, organizing, and assessing, all while trying to craft something that makes sense for a user. Some of you are interested in blog writing or want to start your journey as a content writer but still have doubts about what is content writing, why it's useful, how to learn, are the free resources good enough or should we purchase paid resources? To answer all such questions and to help you figure out how to start your journey in content writing, Cybernix is bringing together a session on Getting Started with Technical Content Writing. Here we will discuss what is content writing, its importance, how to learn, and how to implement it. All the Speakers will share with you their journey and experience and also will provide you with a suitable roadmap. So if you're someone who's still trying to acquire a knowledge on this topic, this session is for you.">
<link href="{% static '/css/style-membership.css' %}" rel="stylesheet">
<title>Getting Started with Technical Content Writing | PHOENIX</title>
{% endblock head %}

{% block content %}

<body class="container-fluid px-0">
    <section id="intro" class="clearfix text-center">
        <div class="container" data-aos="fade-up">
            <div class="blog-info" data-aos="zoom-in" data-aos-delay="100">
                <img class="mb-4" src="{% static '/images/phoenix_white.png' %}" alt="" width="130px">
                <h2 style="color: #FFF; font-size: 40px; font-weight: 800;">Getting Started with Technical Content Writing</h2>
            </div>
        </div>
    </section>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong> Topic:</strong> Getting Started with Technical Content Writing</h4>
    </div>
    <div class="container rules" style="margin-top: 20px">
        <h5>Content writing is a continuous process of learning, carefully gathering, sifting, organizing, and assessing, all while trying to craft something that makes sense for a user. Some of you are interested in blog writing or want to start your journey as a content writer but still have doubts about what is content writing, why it's useful, how to learn, are the free resources good enough or should we purchase paid resources? To answer all such questions and to help you figure out how to start your journey in content writing, Cybernix is bringing together a session on <strong>Getting Started with Technical Content Writing</strong>. Here we will discuss what is content writing, its importance, how to learn, and how to implement it. All the Speakers will share with you their journey and experience and also will provide you with a suitable roadmap. So if you're someone who's still trying to acquire a knowledge on this topic, this session is for you.<br>  
        </h5>
        <h4><strong>Don't forget to get tuned on</strong></h4>
        <h4><strong> Date: </strong> 14th December 2021 (Tuesday)</h4>
        <h4><strong> Time:</strong> 08:00 PM</h4>
        <center>
            <h4><strong>Thank you for Registration. Be alert for further notice.</strong></h4>
        </center>
    </div>
    <!-- <div class="container rules" style="margin-top: 20px">
        <h4><strong> Date: <br></strong> 29th September 2021 (Day 1) <br> 30th September 2021 (Day 2) <br> 1st October 2021 (Day 3)</h4>
        <h4><strong> Time:</strong> 07:00 PM to 08:30 PM</h4> -->
        <!-- <h4><strong> Time:</strong> 04:00 PM</h4>

        <h4><strong> No. of Question:</strong> 20</h4>
        <h4><strong> Time Allowance:</strong> 30 Minutes</h4> -->
        <!-- <h4><strong> Quiz Link:</strong> <a style="color:red;" target="__blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSeEe4HEnBAF3xVJ0RkQWQZbfvIgKgnT8cBBs6RK-fyLwVgDag/viewform?usp=sf_link">Click
                Here</a></h4>
        <h4><strong> Scan QR to Easy Access for link:</strong> <br><br>
            <center><img style="max-width: 250px" src="{% static 'images/qr.png' %}"></center>
        </h4> -->
    <!-- </div> -->


</body>
{% endblock content %}

{% block files %}
<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

{% endblock files %}