{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="description"
    content="Do you want to know What is Competitive Programming? How to Prepare for it? How to use coding platforms? How all the competitions are running through different coding platforms? is this suitable for you or not? don't worry we are going to cover all of your queries.">
<link href="{% static '/css/style-membership.css' %}" rel="stylesheet">
<title>Getting Started with Competitive Coding | PHOENIX</title>
{% endblock head %}

{% block content %}

<body class="container-fluid px-0">
    <section id="intro" class="clearfix text-center">
        <div class="container" data-aos="fade-up">
            <div class="blog-info" data-aos="zoom-in" data-aos-delay="100">
                <img class="mb-4" src="{% static '/images/phoenix_white.png' %}" alt="" width="130px">
                <h2 style="color: #FFF; font-size: 40px; font-weight: 800;">Getting Started with Competitive Coding</h2>
            </div>
        </div>
    </section>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong> Topic:</strong> Getting Started with Competitive Coding</h4>
    </div>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong>Don't forget to tune in on</strong></h4>
        <h4><strong> Date: </strong> 27st November 2021 (Saturday)</h4>
        <h4><strong> Time:</strong> 07:00 PM</h4>
        <h5>Do you want to know What is Competitive Programming? How to Prepare for it? How to use coding platforms? How all the competitions are running through different coding platforms? is this suitable for you or not? don't worry we are going to cover all of your queries. <br> To answer all such questions and to help you figure out how to jumpstart your journey, Cybernix is bringing together a session on Getting Started with CP. Here we will discuss Competitive programming from basic to advance levels. All the Speakers will share with you their journey and experience and will provide you a suitable roadmap for CP. So if you're someone who's still trying to put the pieces together this session is for you. <br>  
        </h5>
        <!-- <h4><strong> No. of Question:</strong> 20</h4>
        <h4><strong> Time Allowance:</strong> 30 Minutes</h4> -->
        <!-- <h4><strong> First Session :</strong> <a target="_blank" style="color: red;" href="https://www.youtube.com/watch?v=gM7tUS9IFNQ&list=PLfZw8tixaUnQn8x-_ArzpngZRiqWumi05&index=1">Click here</a></h4>
        <h4><strong> Second Session :</strong> <a target="_blank" style="color: red;" href="https://www.youtube.com/watch?v=8lKzgbxeKDY&list=PLfZw8tixaUnQn8x-_ArzpngZRiqWumi05&index=2">Click here</a></h4>
        <h4><strong> Third Session :</strong> <a target="_blank" style="color: red;" href="https://www.youtube.com/watch?v=ueZD7TIZeiA&list=PLfZw8tixaUnQn8x-_ArzpngZRiqWumi05&index=3">Click here</a></h4> -->
        
    </div>
    <!-- <div class="py-5"></div> -->
    <div class="container membership-box">
        <form method="POST" action="getting-started-with-competitive-coding/confirmation/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter Your College Email" required>
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input name="contact" type="tel" minlength="10" maxlength="10" class="form-control" id="contact"
                    placeholder="Enter Your Contact Number" required>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input name="department" type="text" class="form-control" id="department"
                    placeholder="Enter your Department" required>
            </div>
            <div class="form-group">
                <label for="session">session</label>
                <input name="session" type="text" class="form-control" id="session"
                    placeholder="2018-22, 2019-23, 2020-24, 2021-25" required>
            </div>
            <div class="form-group">
                <label for="college">College Name</label>
                <input name="college" type="text" class="form-control" id="college"
                    placeholder="Enter your College Name" value="NSEC">
            </div>
            <!-- <div class="form-group">
                <label for="git">Previous Knowledge on Github/Version Control</label>
                <input name="git" type="text" class="form-control" id="git"
                    placeholder="Basic / Intermediate / About to start">
            </div> -->
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</body>
{% endblock content %}

{% block files %}
<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

{% endblock files %}