{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="description"
    content="Phoenix is pleased to present to you a workshop on Python and Django conducted by our very own alumni Mr. Mayank Kumar Gupta. Django is a backend development course that has been planned to be conducted to complement the ongoing frontend development course, to help our attendees get a grip on full-stack development as a whole. The course is beginner friendly, and there are no pre-requisites for undertaking it. Mr. Gupta is a 2019 pass-out from the IT branch of our college, and is currently employed as a full stack developer at Givemefive.ai. So why think twice before grabbing an opportunity to learn from someone from within the industry?
    ">
<link href="{% static '/css/style-membership.css' %}" rel="stylesheet">
<title>Introduction to Python and Django | PHOENIX</title>
<meta property="og:type" content="website">
<meta property="og:url" content="https://phoenixnsec.in/events/introduction-to-python-and-django">
<meta property="og:title" content="Introduction to Python and Django | PHOENIX">
<meta property="og:description" content="Phoenix is pleased to present to you a workshop on Python and Django conducted by our very own alumni Mr. Mayank Kumar Gupta. Django is a backend development course that has been planned to be conducted to complement the ongoing frontend development course, to help our attendees get a grip on full-stack development as a whole. The course is beginner friendly, and there are no pre-requisites for undertaking it. Mr. Gupta is a 2019 pass-out from the IT branch of our college, and is currently employed as a full stack developer at givemefive.ai. So why think twice before grabbing an opportunity to learn from someone from within the industry?">
<meta property="og:image" content="{% static '/img/meta/python.png' %}">
{% endblock head %}

{% block content %}

<body class="container-fluid px-0">
    <section id="intro" class="clearfix text-center">
        <div class="container" data-aos="fade-up">
            <div class="blog-info" data-aos="zoom-in" data-aos-delay="100">
                <img class="mb-4" src="{% static '/images/phoenix_white.png' %}" alt="" width="130px">
                <h2 style="color: #FFF; font-size: 40px; font-weight: 800;">Introduction to Python and Django</h2>
            </div>
        </div>
    </section>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong> Topic:</strong> Introduction to Python and Django</h4>
    </div>
    <div class="container rules" style="margin-top: 20px">
        <h5>
            Phoenix is pleased to present to you a workshop on Python and Django conducted by our very own alumni Mr. Mayank Kumar Gupta. <br>
            Django is a backend development course that has been planned to be conducted to complement the ongoing frontend development course, to help our attendees get a grip on full-stack development as a whole. The course is beginner friendly, and there are no pre-requisites for undertaking it. <br>
            Mr. Gupta is a 2019 pass-out from the IT branch of our college, and is currently employed as a full stack developer at Givemefive.ai. So why think twice before grabbing an opportunity to learn from someone from within the industry? <br>
        </h5>
        <h4><strong>Don't forget to get tuned to catch these awesome live sessions!</strong></h4>
        <h4><strong> Date: </strong> 24th January 2022 (Monday) <strong>to</strong> 28th January 2022 (Friday)</h4>
        <h4><strong> Time:</strong> 08:00 PM onwards (duration of session may 1 hr 30 minutes or 2 hrs depending on topics)</h4>
    </div>
    <div class="container membership-box">
        <form method="POST" action="introduction-to-python-and-django/confirmation/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter Your College Email" required>
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input name="contact" type="tel" minlength="10" maxlength="10" class="form-control" id="contact"
                    placeholder="Enter Your Contact Number" required>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input name="department" type="text" class="form-control" id="department"
                    placeholder="Enter your Department" required>
            </div>
            <div class="form-group">
                <label for="session">session</label>
                <input name="session" type="text" class="form-control" id="session"
                    placeholder="2018-22, 2019-23, 2020-24, 2021-25" required>
            </div>
            <div class="form-group">
                <label for="college">College Name</label>
                <input name="college" type="text" class="form-control" id="college"
                    placeholder="Enter your College Name" value="NSEC">
            </div>
            <div class="form-group">
                <label for="college">Do you have any prior knowledge of Python or Django?</label>
                <select class="form-select form-control" aria-label="Do you have any prior knowledge of Python or Django?" name="prior">
                    <option value="No prior knowledge" selected>No prior knowledge</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                  </select>
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
{% endblock content %}

{% block files %}
<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

{% endblock files %}