{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static '/css/style-core.css' %}" rel="stylesheet">
<title>CORE 2020-21 | PHOENIX</title>
{% endblock head %}


{% block content %}
<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="heading"><span>Core</span> 2020-21</div>
  </div>
</section><!-- End Intro Section -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="container grid">
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Dhiraj.png' %}" alt="">
            </div>
            <div class="text">
              <h2><span>D</span>hiraj Kumar Burnwal</h2>
              <p>PRESIDENT</p>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Asish.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>ashish Sinha</h2>
              <p>SECRETARY</p>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Apoorva.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>poorva Kashyap</h2>
              <p>TREASURER</p>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Debjeet.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>D</span>ebjeet Chakraborty</h2>
              <p>CONVENER</p>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Ankit.jpeg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>nkit Paul</h2>
              <p>VICE-PRESIDENT</p>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/navneet.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>N</span>avneet Bhardwaj</h2>
              <p>VICE-PRESIDENT</p>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/ipsha.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>I</span>psha Kumari</h2>
              <p>VICE-PRESIDENT</p>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Asmita.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>smita Dasgupta</h2>
              <p>ASSISTANT SECRETARY</p>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/core/Ayush.jpeg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>yush Raunak</h2>
              <p>ASSISTANT SECRETARY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  {% endblock content %}

  {% block files %}
  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
  {% endblock files %}