{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style-landing.css' %}">
    <link rel="icon" href="{% static '/favicon/favicon.png' %}">
    <meta name="description" content="Phoenix has always strived for overall development of an individual, from technical to communication skills of a person by conducting domain-specific forums to interpersonal development by working in a team and taking leadership roles.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script data-ad-client="ca-pub-1402973072431469" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>PHOENIX</title>
</head>

<body id="particles-js">
    <nav class="navbar-nav ml-auto">
    </nav>
    <div class="grid">
        <div class="main">
            <img src="{% static 'images/phoenix_white.png' %}">
            <div class="ic">
                <a target="_blank" href="https://www.facebook.com/nsec.phoenix/" class="facebook"><i class="fa fa-facebook-f"></i></a>
                <a target="_blank" href="" class="youtube"> <i class="fa fa-youtube"></i></a>
                <a target="_blank" href="https://www.instagram.com/phoenix_nsec/" class="instagram"> <i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="text">

            <h1 class="phoenix">
                <a href="" class="typewrite" data-period="2000"
                    data-type='[ "Phoenix", "Robonix", "Lensified", "Eloquense", "Nirmaan", "Cybernix"]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <h3 class="tag">
                Come,Let's Rise
            </h3>
            <ul>
                <li>
                    <a class="discover" href="/home">Explore Us</a>
                </li>
            </ul>
            <br>
            <div>
            </div>
        </div>
    </div>
    <div class="icons">
        <a target="_blank" href="https://www.facebook.com/nsec.phoenix/" class="facebook"><i class="fa fa-facebook-f"></i>Facebook
            </i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCBy1iIhw34E7YlHQ8tc4rDA" class="youtube"> <i
                class="fa fa-youtube"></i>Youtube</i></a>
        <a target="_blank" href="https://www.instagram.com/phoenix_nsec/" class="instagram"> <i
                class="fa fa-instagram"></i>Instagram</a>
        <a target="_blank" href="https://t.me/phoenix_nsec2020/" class="telegram"> <i
                class="fa fa-telegram"></i>Telegram</a>
    </div>
    <script src="{% static '/js/particles.min.js' %}"></script>
    <script src="{% static '/js/app-landing.js' %}"></script>
    <script src="{% static '/js/script.js' %} "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NC82XQ9S4J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NC82XQ9S4J');
    </script>
</body>

</html>