{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static '/css/style-team.css' %}" rel="stylesheet">
<title>WEB TEAM | PHOENIX</title>
{% endblock head %}


{% block content %}
<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="heading"><span>MEET</span> OUR TEAM</div>

  </div>
</section><!-- End Intro Section -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="container grid">
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/akansha.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>KANKSHA PRIYA</h2>
              <p>ECE undergrad from Nsec, Kolkata."Web-developer,cloud enthusiast and an amber life-traveller"</p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100041284664493"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/akanksha-priya-8953081a8"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/akanksha1704"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/indranil.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>I</span>NDRANIL SAHA ROY</h2>
              <p>ECE undergrad from Nsec, Kolkata.Debugger of Codes, Developer of websites and the rightful drinker of
                a lot of coffee. </p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/indranil.saharoy"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/indranil-saha-roy-598b5a17b"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/indranil2507"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/Deep.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>D</span>EEP CHIRAG</h2>
              <p>CSE undergraduate from NSEC,Kolkata. Has a passion for designing and developing apps and websites
                alike</p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/deep.chirag.14/"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/deep-chirag-b681b4140"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/deep3324"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/jaysri.jpeg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>J</span>AYASRI DEY</h2>
              <p>IT undergrad from Nsec, Kolkata."Wands, lightsabers, websites and apps"</p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/Jayasri.dey6/"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/jayasri-dey-55625918b"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/jayasri2000"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="one">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/abhijit.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>A</span>BHIJOY SHIROV MUKHERJEE</h2>
              <p>ECE undergrad from Nsec,Kolkata.Frontend developer and Coding enthusiast</p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/abhijoy.rickoo"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/abhijoy-shirov-mukherjee-8433b0183"> <i
                    class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/Abhijoyshirovmukherjee"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="two">
          <div class="box">
            <div class="img">
              <img src="{% static '/img/dg.jpg' %}" alt="">
            </div>
            <div class="text">
              <h2><span>D</span>EBARGHYA GOSWAMI</h2>
              <p>ECE undergrad from Nsec, Kolkata.Just you average boy next door with above average coding skills.</p>
              <div class="social">
                <a target="_blank" href="https://www.facebook.com/debarghya.goswami.12"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href=" https://www.linkedin.com/in/debarghya-goswami"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/deegeeshere"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  {% endblock content %}

  {% block files %}
  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
  {% endblock files %}